/*! start normalize
 * based on modern-normalize@0.5.0 | MIT License | https://github.com/sindresorhus/modern-normalize 
 */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 22px;
}
hr {
  height: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
/* end normalize */
body {
  color: #2a2a2a;
}
:root {
  --grass-color: #1c873b;
  --water-color: #3896f2;
  --sky-top-color: #87ceeb;
  --sky-bottom-color: #fff;
  --sun-color: rgb(236, 218, 27);
}

.card {
  margin: 1rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card-main {
  text-align: center;
  position: relative;
  background: linear-gradient(var(--sky-top-color), var(--sky-bottom-color));
  overflow: hidden;
}
.card-footer {
  border-top: 1px solid #ddd;
  padding: 1rem;
  overflow: hidden;
}
.flex-anchor {
  display: flex;
  align-items: center;
}
.flex-anchor > img + span {
  padding-left: 0.3rem;
}

.sun {
  position: absolute;
  top: 28vmin;
  left: 0vmin;
  background-color: var(--sun-color);
  height: 12vmin;
  width: 12vmin;
  border-radius: 50%;
}

.hare {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5vmin;
  height: 20vmin;
  z-index: 2;
}
.hare img {
  max-height: 100%;
  transform: rotate(8deg);
}
.hare::after {
  content: '';
  position: absolute;
  bottom: 2vmin;
  left: 0.8vmin;
  right: 0;
  height: 1vmin;
  background: rgba(0, 0, 0, 0.24);
  border-radius: 50%;
}

.water {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  background-color: var(--water-color);
  height: 6vmin;
}
.water-bubble-1,
.water-bubble-2 {
  position: absolute;
  height: 1vmin;
  width: 5vmin;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1vmin;
}

.water-bubble-1 {
  top: 30%;
  left: 25%;
}

.water-bubble-2 {
  top: 60%;
  left: 30%;
}

.grass {
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 70%;
  background-color: var(--grass-color);
  height: 8vmin;
  border-top-left-radius: 8vmin;
  box-shadow: inset 1vmin 0.5vmin 1vmin rgba(0, 0, 0, 0.25);
}
